{% extends "layout.html" %}

{% block title %}
    Cash
{% endblock %}

{% block main %}
    <table class="table">
        <tr>
          <th scope="col">Your Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ cashValue }}</th>
        </tr>
      </tbody>
    </table>
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="newCash" placeholder="Cash" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}